body {
	background: #272B30;
}
.main h1,
.main h2,
.main h4 {
	color: #C8C8C8;
	font-weight: bold;
}
.battleField {	
	display: inline-block;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	width: 40%;
	min-height: 100px;

}
	.battleField .box {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}
	.battleField .left-side, .right-side {
		height: 46px;
		width: 95.03px;
		display: inline-block;
	}
	.battleField .box p{
		font-size: 2.5em;
		color: #C8C8C8;
		font-weight: bold;
		margin: 0; 
	}
	.battleField .vs {
		display: inline-block;
		width: 20%;
		margin: 10%;
	}
	.battleField img {
		width: 100%;
		height: auto;
	}
	.battleField .dark {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.battleField #Start button{
		margin-top: 17.5px;
	}
	.battleField .log {
		margin-top: 20px;
		height: 100px;
		width: 100%;
		text-align: center;
		padding: 2px 10px;
		overflow: hidden; 
	}
	.battleField .log p{
		font-size: 1em;
		color: #fff;
	}
.myChoice {
	position: absolute;
	bottom: 20%;
	width: 233px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
}
.stone, .paper, .scissors{
	background: #fff;
	color: #000;
}
.help {
	background: rgba(255,255,255,0.6);
	padding: 15px;
}
.help h4{
	color: #000;
}
.me {
	display: inline-block;
	position: absolute;
	top: 10%;
	left: 5%;
	width: 20%;
}
.me .name {
	text-align: center;
	min-height: 23px;
}
.comp {
	display: inline-block;
	position: absolute;
	top: 10%;
	right: 5%;
	width: 20%;
}
.hide {
	display: none;
}
.inactive {
	opacity: 0.5;
}

.entry {
  text-align: center;
  min-height: 267px;
  position: relative;
}
.entry div {
  position: absolute;
  left: 50%;
  top: 50%;
}
.entry div:before,
.entry div:after {
  display: block;
  content: '';
  position: absolute;
}
#zombie div {
  zoom: 1.4;
  width: 130px;
  height: 160px;
  margin-left: -65px;
  margin-top: -80px;
  background-image: linear-gradient(to top, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), linear-gradient(to right, #98fb98, #98fb98), radial-gradient(circle, #57c889 25%, #98fb98 25%, #98fb98 50%, transparent 50%), radial-gradient(circle, #57c889 25%, #98fb98 25%, #98fb98 50%, transparent 50%), radial-gradient(circle, #ffc0cb 50%, transparent 50%), radial-gradient(circle, #ffc0cb 50%, transparent 50%), radial-gradient(circle, #ffc0cb 50%, transparent 50%), radial-gradient(circle, #ffc0cb 50%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 50px 15px, 50px 80%, 30px 30px, 30px 30px, 40px 40px, 40px 40px, 40px 40px, 40px 40px;
  background-position: center 92%, center 100%, -2px 60%, 103% 60%, 30px -5px, 50px -5px, 65px 0, 78px 14px;
}
#zombie div:before {
  width: 100px;
  height: 135px;
  left: 15px;
  background-image: radial-gradient(circle, #222 15%, #ffd700 15%, #ffd700 30%, white 30%, white 50%, transparent 50%), radial-gradient(circle, #222 15%, #ffd700 15%, #ffd700 30%, white 30%, white 50%, transparent 50%), radial-gradient(ellipse, rgba(0,0,0,0.2) 50%, transparent 50%), radial-gradient(ellipse, rgba(0,0,0,0.2) 50%, transparent 50%), linear-gradient(#98fb98, #98fb98), radial-gradient(circle, #98fb98 40%, #57c889 40%, #57c889 53%, transparent 42%), linear-gradient(25deg, #98fb98 80%, transparent 80%);
  background-repeat: no-repeat;
  background-size: 24px 24px, 24px 24px, 50px 40px, 50px 40px, 25px 13px, 25px 25px, 100% 100%;
  background-position: 18px 67px, 56px 67px, 4px 57px, 44px 57px, center 70%, center 75%, 0 0;
  border-radius: 20px 20px 30px 30px;
}
#zombie div:after {
  width: 42px;
  height: 23px;
  margin-left: -21px;
  left: 50%;
  top: 70%;
  background-color: rgba(0,0,0,0.3);
  background-image: repeating-linear-gradient(to right, white, white 4px, transparent 4px, transparent 7px), repeating-linear-gradient(to right, white, white 4px, transparent 4px, transparent 7px), linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  background-repeat: repeat-x, repeat-x, no-repeat;
  background-size: 100% 6px, 100% 6px, 31px 15px;
  background-position: 1px 2px, 1px 18px, 5px 5px;
  border-radius: 6px;
  box-shadow: -8px 5px 0 #98fb98, 8px 5px 0 #98fb98;
}
#sully div {
  width: 160px;
  height: 62px;
  margin-left: -80px;
  margin-top: -150px;
  background: transparent;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  box-shadow: 0 9px 5px 3px #ffe4c4, 0 15px 0 10px rgba(0,0,0,0.25), 0 15px 0 10px #ffe4c4;
}
#sully div:before {
  width: 180px;
  height: 230px;
  margin-left: -90px;
  top: 30px;
  left: 50%;
  background-color: #00ced1;
  background-image: radial-gradient(ellipse, rgba(0,0,0,0.4) 50%, transparent 50%), radial-gradient(ellipse, rgba(0,0,0,0.4) 50%, transparent 50%), radial-gradient(ellipse, #00696b 50%, transparent 50%), radial-gradient(circle, white 50%, transparent 50%), radial-gradient(circle, #444 50%, transparent 50%), radial-gradient(circle, #9370db 30%, rgba(147,112,219,0) 70%), radial-gradient(circle, #444 50%, transparent 50%), radial-gradient(ellipse, white 30%, #ddd 60%, transparent 60%), radial-gradient(ellipse, #333 45%, #48d1cc 55%, #48d1cc 60%, transparent 60%), radial-gradient(circle, white 50%, transparent 50%), radial-gradient(circle, #444 50%, transparent 50%), radial-gradient(circle, #9370db 30%, rgba(147,112,219,0) 70%), radial-gradient(circle, #444 50%, transparent 50%), radial-gradient(ellipse, white 30%, #ddd 60%, transparent 60%), radial-gradient(ellipse, #333 45%, #48d1cc 55%, #48d1cc 60%, transparent 60%), radial-gradient(ellipse, #00abad 40%, rgba(0,206,209,0) 50%), radial-gradient(ellipse, #009c9e 40%, rgba(0,206,209,0) 50%), radial-gradient(ellipse, #9370db 30%, rgba(147,112,219,0) 60%), radial-gradient(ellipse, #9370db 30%, rgba(147,112,219,0) 60%), radial-gradient(circle, rgba(0,206,209,0) 35%, #009c9e 65%);
  background-repeat: no-repeat;
  background-size: 20px 10px, 20px 10px, 75px 40px, 5px 5px, 13px 13px, 19px 19px, 34px 34px, 50px 45px, 54px 58px, 5px 5px, 13px 13px, 19px 19px, 34px 34px, 50px 45px, 54px 58px, 100px 40px, 170px 90px, 45px 40px, 45px 40px, 220px 350px;
  background-position: 70px 118px, 90px 118px, center 95px, 68px 70px, 60px 71px, 58px 68px, 50px 60px, 40px 55px, 38px 47px, 114px 70px, 106px 71px, 102px 68px, 95px 60px, 90px 55px, 88px 47px, center 90px, center 30px, 50px -17px, 95px 10px, 0 -80px;
  border-radius: 50% 50% 50% 50%/60% 60% 30% 30%;
  box-shadow: 0 0 20px #009c9e, 0 10px 10px #008384, inset 0 -15px 0 13px rgba(0,0,0,0.03);
}
#sully div:after {
  width: 70px;
  height: 15px;
  margin-left: -35px;
  left: 50%;
  top: 180px;
  background: #444;
  background-image: radial-gradient(ellipse, white 50%, transparent 50%), radial-gradient(ellipse, white 50%, transparent 50%), radial-gradient(ellipse, white 50%, transparent 50%), radial-gradient(ellipse, white 50%, transparent 50%), radial-gradient(ellipse, white 50%, transparent 50%), radial-gradient(ellipse, white 50%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 16px 25px;
  background-position: -5px 7px, 7px 4px, 19px 7px, 31px 7px, 43px 4px, 55px 7px;
  border-radius: 60% 60% 40% 40%/50% 50% 50% 50%;
  box-shadow: 0 6px 0 #48d1cc, 0 15px 3px -4px #009c9e, 0 -106px 6px -2px rgba(255,255,255,0.2), -20px -114px 6px 7px #00abad, 20px -114px 6px 7px #00abad, -20px -105px 5px 5px rgba(0,0,0,0.15), 20px -105px 5px 5px rgba(0,0,0,0.15);
}

@media only screen and (max-width: 768px) {
	.help, .inactive {
		display: none;
	}
	.hello h1 {
		font-size: 1.5em;
		line-height: 55px;
		margin: 0;
	}
	.myChoice {
		position: absolute;
		bottom: 5%;
		width: 233px;
		left: 50%;
		transform: translateX(-50%);
		margin: 0;
	}
	.me {
		top: 15%;
		left: 2.5%;
		width: 45%;
	}
	.me h4, .comp h4 {
		font-size: 1.2em;
	}
	.name h2, .comp h2 {
		font-size: 1.5em;
	}
	.comp {
		top: 15%;
		right: 2.5%;
		width: 45%;
	}
	.entry {
		margin-bottom: 10px;
		min-height: 20px;
	}
	#sully div {
		zoom: 0.2;
	}
	#zombie div {
		zoom: 0.3;
	}
	.battleField {	
		top: 50%;
		width: 100%;
	}
	.battleField .box p{
		font-size: 1.5em;
		margin-bottom: 10px;
	}
	.battleField #Start button{
		margin-top: 0;
	}
	.battleField .log {
		height: 40px;
	}

}